In [1]:
#importing all the things

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import ast
import seaborn as sns
sns.set()

%matplotlib inline

In [2]:
#initializing constants
START_DATE = '12/24/2016'
NUM_OF_WEEKS = 4

In [3]:
def get_file_names(start,number): #generates weeknums
    files = []
    ds = dt.datetime.strptime(start,"%m/%d/%Y")
    file_name = (ds.strftime("%y%m%d"))
    files.append(int(file_name))
    for i in range(1,number+1):
        ds = ds+ dt.timedelta(days=7)
        file_name = int(ds.strftime("%y%m%d"))
        files.append(file_name)
    print (files)
    return files


def get_data_parse_dt(week_nums): #imports files from mta website
    url = "turnstile_{}.txt"
    dfs = []
    for week_num in week_nums:
        file_url = url.format(week_num)
        dfs.append(pd.read_csv(file_url))
    return pd.concat(dfs)

def sortLinename(string):
    listLines = ''.join(sorted(string))
    return listLines

In [4]:
data = get_data_parse_dt(get_file_names(START_DATE,NUM_OF_WEEKS))
data.head()

[161224, 161231, 170107, 170114, 170121]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/17/2016,03:00:00,REGULAR,5967477,2022101
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/17/2016,07:00:00,REGULAR,5967485,2022116
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/17/2016,11:00:00,REGULAR,5967553,2022233
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/17/2016,15:00:00,REGULAR,5967790,2022331
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/17/2016,19:00:00,REGULAR,5968186,2022421

In [5]:
data.columns = [column.strip().lower() for column in data.columns] #formatting
data["date_time"] = pd.to_datetime(data.date + " " + data.time, format="%m/%d/%Y %H:%M:%S") #creating datetime column

In [6]:
data.linename = data.linename.apply(sortLinename) #standardizing linenames

In [7]:
data.date = pd.to_datetime(data.date)

In [17]:
oldline = ((data.station=='86 ST') & (data.linename=='456')) | ((data.station=='96 ST') & (data.linename=='6'))
#print (data[oldline].head())
newline = ((data.station=='86 ST-2 AVE') & (data.linename=='Q')) | ((data.station=='96 ST-2 AVE') & (data.linename=='Q'))
#print (data[newline].head())
control = (((data.station=='103 ST') | (data.station=='110 ST')) & (data.linename=='6'))
#print (data[control].head())

mask = ((oldline | newline | control))
ourstations = (data[mask]).copy()

In [18]:
(ourstations
 .groupby(["c/a", "unit", "scp", "station", "date_time", "linename"])
 .entries.count()
 .reset_index()
 .sort_values("entries", ascending=False)).head(5)

       c/a  unit       scp      station           date_time linename  entries
0     N701  R571  00-00-00  86 ST-2 AVE 2016-12-31 00:00:00        Q        1
8378  R250  R179  00-00-0A        86 ST 2017-01-02 11:00:00      456        1
8356  R250  R179  00-00-0A        86 ST 2016-12-29 19:00:00      456        1
8357  R250  R179  00-00-0A        86 ST 2016-12-29 23:00:00      456        1
8358  R250  R179  00-00-0A        86 ST 2016-12-30 03:00:00      456        1

In [ ]:
#ourstations = data.drop(["exits", "desc"], axis=1, errors="ignore")

In [19]:
ourstations["date"] = pd.to_datetime(ourstations["date"])

In [20]:
ourstations.sort_values(["c/a", "unit", "scp", "station", "date_time"],
                         inplace=True, ascending=False)

In [21]:
dailyData = (ourstations.groupby(["c/a", "unit", "scp", "station", "date", "linename"],as_index=False)
                        .entries.first())

In [22]:
dailyData[["prev_date", "prev_entries"]] = (dailyData.groupby(["c/a", "unit", "scp", "station", "linename"])
                                            ["date", "entries"].transform(lambda grp: grp.shift(1)))
dailyData.dropna(subset=["prev_date"], axis=0, inplace=True)

AttributeError: 'DataFrame' object has no attribute 'date'

In [25]:
dailyData.head()

,c/a,unit,scp,station,date,linename,entries,prev_date,prev_entries
1,N701,R571,00-00-00,86 ST-2 AVE,2017-01-01,Q,2103,2016-12-31,32.0
2,N701,R571,00-00-00,86 ST-2 AVE,2017-01-02,Q,4850,2017-01-01,2103.0
3,N701,R571,00-00-00,86 ST-2 AVE,2017-01-03,Q,8294,2017-01-02,4850.0
4,N701,R571,00-00-00,86 ST-2 AVE,2017-01-04,Q,12193,2017-01-03,8294.0
5,N701,R571,00-00-00,86 ST-2 AVE,2017-01-05,Q,15865,2017-01-04,12193.0

In [26]:
dailyData[dailyData["entries"] < dailyData["prev_entries"]]

Empty DataFrame
Columns: [c/a, unit, scp, station, date, linename, entries, prev_date, prev_entries]
Index: []

In [28]:
(dailyData
 .groupby(["c/a", "unit", "scp", "station"])['entries'].count()
    .reset_index().sort_values('entries',ascending=True))

      c/a  unit       scp      station  entries
0    N701  R571  00-00-00  86 ST-2 AVE       20
30  N702A  R572  01-03-04  96 ST-2 AVE       20
29  N702A  R572  01-03-03  96 ST-2 AVE       20
28  N702A  R572  01-03-02  96 ST-2 AVE       20
27  N702A  R572  01-03-01  96 ST-2 AVE       20
26  N702A  R572  01-03-00  96 ST-2 AVE       20
25  N702A  R572  01-00-04  96 ST-2 AVE       20
23  N702A  R572  01-00-02  96 ST-2 AVE       20
22  N702A  R572  01-00-01  96 ST-2 AVE       20
21  N702A  R572  01-00-00  96 ST-2 AVE       20
20   N702  R572  00-05-01  96 ST-2 AVE       20
19   N702  R572  00-05-00  96 ST-2 AVE       20
18   N702  R572  00-00-03  96 ST-2 AVE       20
17   N702  R572  00-00-02  96 ST-2 AVE       20
16   N702  R572  00-00-01  96 ST-2 AVE       20
24  N702A  R572  01-00-03  96 ST-2 AVE       20
14  N701A  R571  01-00-08  86 ST-2 AVE       20
15   N702  R572  00-00-00  96 ST-2 AVE       20
1    N701  R571  00-00-01  86 ST-2 AVE       20
2    N701  R571  00-00-02  86 ST-2 AVE       20
3    N701  R571  00-00-03  86 ST-2 AVE       20
5    N701  R571  00-05-01  86 ST-2 AVE       20
6   N701A  R571  01-00-00  86 ST-2 AVE       20
4    N701  R571  00-05-00  86 ST-2 AVE       20
8   N701A  R571  01-00-02  86 ST-2 AVE       20
9   N701A  R571  01-00-03  86 ST-2 AVE       20
10  N701A  R571  01-00-04  86 ST-2 AVE       20
11  N701A  R571  01-00-05  86 ST-2 AVE       20
12  N701A  R571  01-00-06  86 ST-2 AVE       20
13  N701A  R571  01-00-07  86 ST-2 AVE       20
..    ...   ...       ...          ...      ...
62   R252  R180  00-03-00       103 ST       34
63   R252  R180  00-03-01       103 ST       34
64   R252  R180  00-03-02       103 ST       34
65   R253  R181  00-00-00       110 ST       34
66   R253  R181  00-00-01       110 ST       34
68   R254  R181  01-00-00       110 ST       34
51   R250  R179  00-00-0A        86 ST       34
60   R252  R180  00-00-01       103 ST       34
50   R250  R179  00-00-09        86 ST       34
35   R249  R179  01-00-04        86 ST       34
48   R250  R179  00-00-07        86 ST       34
31   R249  R179  01-00-00        86 ST       34
32   R249  R179  01-00-01        86 ST       34
33   R249  R179  01-00-02        86 ST       34
34   R249  R179  01-00-03        86 ST       34
69   R254  R181  01-00-01       110 ST       34
36   R249  R179  01-00-05        86 ST       34
37   R249  R179  01-00-06        86 ST       34
38   R249  R179  01-00-07        86 ST       34
39   R249  R179  01-00-08        86 ST       34
40   R249  R179  01-00-09        86 ST       34
41   R250  R179  00-00-00        86 ST       34
42   R250  R179  00-00-01        86 ST       34
43   R250  R179  00-00-02        86 ST       34
44   R250  R179  00-00-03        86 ST       34
45   R250  R179  00-00-04        86 ST       34
46   R250  R179  00-00-05        86 ST       34
47   R250  R179  00-00-06        86 ST       34
49   R250  R179  00-00-08        86 ST       34
70   R254  R181  01-00-02       110 ST       34

[71 rows x 5 columns]

In [33]:
(dailyData
 .groupby(["c/a", "unit", "scp", "station"])['date'].count()
    .reset_index()['date'].value_counts())

34    40
20    31
Name: date, dtype: int64

In [34]:
(dailyData[dailyData["entries"] < dailyData["prev_entries"]]
    .groupby(["c/a", "unit", "scp", "station"])
    .size())

Series([], dtype: int64)

In [35]:
def get_daily_counts(row, max_counter):
    counter = abs(row["entries"] - row["prev_entries"])
    if counter > max_counter:
        print(row["entries"], row["prev_entries"])
        counter = min(row["entries"], row["prev_entries"])
    if counter > max_counter:
        return 0
    return counter

In [36]:
dailyData["daily_entries"] = dailyData.apply(get_daily_counts, axis=1, max_counter=20000)

In [37]:
dailyData.head()

,c/a,unit,scp,station,date,linename,entries,prev_date,prev_entries,daily_entries
1,N701,R571,00-00-00,86 ST-2 AVE,2017-01-01,Q,2103,2016-12-31,32.0,2071.0
2,N701,R571,00-00-00,86 ST-2 AVE,2017-01-02,Q,4850,2017-01-01,2103.0,2747.0
3,N701,R571,00-00-00,86 ST-2 AVE,2017-01-03,Q,8294,2017-01-02,4850.0,3444.0
4,N701,R571,00-00-00,86 ST-2 AVE,2017-01-04,Q,12193,2017-01-03,8294.0,3899.0
5,N701,R571,00-00-00,86 ST-2 AVE,2017-01-05,Q,15865,2017-01-04,12193.0,3672.0

In [40]:
(dailyData
    .groupby(["station", "date", "linename"])['daily_entries'].sum().reset_index())

         station       date linename  daily_entries
0         103 ST 2016-12-18        6         7588.0
1         103 ST 2016-12-19        6        15581.0
2         103 ST 2016-12-20        6        16375.0
3         103 ST 2016-12-21        6        16087.0
4         103 ST 2016-12-22        6        15741.0
5         103 ST 2016-12-23        6        14726.0
6         103 ST 2016-12-24        6         8230.0
7         103 ST 2016-12-25        6         5950.0
8         103 ST 2016-12-26        6         7937.0
9         103 ST 2016-12-27        6        11986.0
10        103 ST 2016-12-28        6        13216.0
11        103 ST 2016-12-29        6        12614.0
12        103 ST 2016-12-30        6        13204.0
13        103 ST 2016-12-31        6         8790.0
14        103 ST 2017-01-01        6         6967.0
15        103 ST 2017-01-02        6         7521.0
16        103 ST 2017-01-03        6        14285.0
17        103 ST 2017-01-04        6        15213.0
18        103 ST 2017-01-05        6        15618.0
19        103 ST 2017-01-06        6        15790.0
20        103 ST 2017-01-07        6         8826.0
21        103 ST 2017-01-08        6         6324.0
22        103 ST 2017-01-09        6        14564.0
23        103 ST 2017-01-10        6        15301.0
24        103 ST 2017-01-11        6        15745.0
25        103 ST 2017-01-12        6        15486.0
26        103 ST 2017-01-13        6        15584.0
27        103 ST 2017-01-14        6         8181.0
28        103 ST 2017-01-15        6         6510.0
29        103 ST 2017-01-16        6         8582.0
..           ...        ...      ...            ...
146        96 ST 2017-01-11        6        21226.0
147        96 ST 2017-01-12        6        21169.0
148        96 ST 2017-01-13        6        21082.0
149        96 ST 2017-01-14        6         8885.0
150        96 ST 2017-01-15        6         7008.0
151        96 ST 2017-01-16        6         9736.0
152        96 ST 2017-01-17        6        20592.0
153        96 ST 2017-01-18        6        21485.0
154        96 ST 2017-01-19        6        21869.0
155        96 ST 2017-01-20        6        20506.0
156  96 ST-2 AVE 2017-01-01        Q        10181.0
157  96 ST-2 AVE 2017-01-02        Q         9497.0
158  96 ST-2 AVE 2017-01-03        Q        10818.0
159  96 ST-2 AVE 2017-01-04        Q        12546.0
160  96 ST-2 AVE 2017-01-05        Q        12168.0
161  96 ST-2 AVE 2017-01-06        Q        12807.0
162  96 ST-2 AVE 2017-01-07        Q         8337.0
163  96 ST-2 AVE 2017-01-08        Q         6792.0
164  96 ST-2 AVE 2017-01-09        Q        11890.0
165  96 ST-2 AVE 2017-01-10        Q        12773.0
166  96 ST-2 AVE 2017-01-11        Q        13435.0
167  96 ST-2 AVE 2017-01-12        Q        13857.0
168  96 ST-2 AVE 2017-01-13        Q        14207.0
169  96 ST-2 AVE 2017-01-14        Q         9681.0
170  96 ST-2 AVE 2017-01-15        Q         8426.0
171  96 ST-2 AVE 2017-01-16        Q         9396.0
172  96 ST-2 AVE 2017-01-17        Q        13189.0
173  96 ST-2 AVE 2017-01-18        Q        13845.0
174  96 ST-2 AVE 2017-01-19        Q        14725.0
175  96 ST-2 AVE 2017-01-20        Q        14410.0

[176 rows x 4 columns]